:root {
  --primary-brand: #4d5ae5;
  --present-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --secondary-color: #ffffff;
  --primary-bg-color: #ffffff;
  --portfolio-bg-color: #e5e5e5;
}

/* reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* basic styles */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--primary-bg-color);
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-inline-start: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header > .container {
  display: flex;
  align-items: center;
}

/* nav contacts */

.nav {
  margin-left: 77px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-menu > .item + .item,
.contacts > .item + .item {
  margin-left: 40px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.logo {
  font-size: 18px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: var(--dark);
  text-transform: uppercase;
}

.logo > span {
  color: var(--primary-brand);
}

.nav-menu .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--dark);
  font-weight: 600;
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--text);
}

.nav-menu .link:active,
.contacts .link:active {
  color: var(--primary-brand);
}

.contacts .link {
  color: var(--text);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--primary-brand);
}

/* main */

/* hero */

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 192px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .title {
  color: #ffffff;
  text-align: center;
}

.hero h1 {
  margin-bottom: 48px;
}

/* title */

.title {
  color: var(--dark);
}

/* portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* button */

.button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero .button {
  padding: 16px 32px;
  align-items: center;
  line-height: 1.2;
  color: var(--secondary-color);
  background-color: var(--primary-brand);
  border: none;
  border-radius: 5px;
  /*box-shadow: 0px 4px 4px var(--dark);*/
}

.hero .button:hover,
.hero .button:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero .button:active,
.buttons .button:active {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* buttons */

.buttons {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}

.buttons > .item + .item {
  margin-left: 24px;
}

.buttons .button {
  align-items: center;
  padding: 12px 24px;
  border-radius: 5px;
}

.buttons .button:hover,
.buttons .button:focus {
  color: var(--primary-bg-color);
  background-color: var(--primary-brand);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.buttons .button:active {
  color: var(--primary-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
  color: var(--secondary-color);
  background-color: var(--primary-brand);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.secondary {
  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--portfolio-bg-color);
}
/* about */

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
}

.about-list > .item {
  width: 264px;
}

.about-list > .item + .item {
  margin-left: 24px;
}

.about .picture {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background-color: var(--light);
}

.about .icon {
  display: block;
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}

.about .title {
  margin-bottom: 8px;
}

/* projects */

.projects {
  padding-bottom: 120px;
  text-align: center;
}

.projects > .title {
  margin-bottom: 72px;
}

.projects-list {
  display: flex;
}

.projects-list > .item + .item {
  margin-left: 24px;
}

.projects-list img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* card-content */

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background-color: var(--light);
}

/* section-team */

/* cards-team ( in studio ) */

.cards-team {
  margin-top: 72px;
  display: flex;
}

.cards-team > .item {
  padding-bottom: 32px;
  background-color: var(--primary-bg-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.cards-team > .item + .item {
  margin-left: 24px;
}

.cards-team img {
  display: block;
}

.cards-team .title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--dark);
}

.cards-team .text {
  color: var(--text);
}

/* social-links */

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.social-links .media-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  color: var(--light);
}

.social-links .media-link:hover,
.social-links .media-link:focus {
  background-color: var(--present-state);
}

.social-links .icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* Customers */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;

  text-align: center;
}

.customers .title {
  margin-bottom: 72px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* customers-list */

.customers .customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list .customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;

  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  color: var(--subtle-text);
}
.customers-list .customers-link {
  color: #8e8f99;
}

.customers-list .customers-link:hover,
.customers-list .customers-link:focus {
  color: var(--primary-brand);
  border-color: var(--primary-brand);

  border-color: var(--primary-brand);
}

.customers-link .icon {
  fill: currentColor;
}

.customers-link > .icon-yaco {
  width: 41px;
  height: 47px;
}

.customers-link > .icon-taglinehere {
  width: 40px;
  height: 52px;
}

.customers-link > .icon-company {
  width: 44px;
  height: 41px;
}

.customers-link > .icon-foster {
  width: 84px;
  height: 41px;
}

.customers-link > .icon-brand {
  width: 63px;
  height: 45px;
}

.customers-link > .icon-tagline {
  width: 94px;
  height: 44px;
}

/* cards-projects ( in portfolio) */

.cards-projects {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.cards-projects > .item {
  max-width: 360px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 24px) / 3);
}

.cards-projects > .item:hover,
.cards-projects > .item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-projects .link {
  color: var(--text);
}

.cards-projects img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cards-projects .card-content {
  border: 0.5px solid #f4f4fd;
  border-top: none;
}
/* .cards-projects > .item:not(:nth-child(3n + 1)) {
  margin-left: 24px;
}

.cards-projects > .item:nth-child(1),
.item:nth-child(4) {
  margin-bottom: 48px;
} */

.cards-projects .card-content {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.cards-projects .title {
  margin-bottom: 8px;
}
/* footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark);
  color: var(--light);
}

.footer > .container {
  display: flex;
}

.box-footer {
  max-width: 265px;
}

.box-footer > .logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--light);
}

/* media */

.media {
  margin-left: 120px;
}

.media > .headline {
  font-weight: 600;
}

/* social media */

.media > .social-links {
  margin-top: 16px;
  gap: 16px;
}

.media-link.footer-link {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.media-link.footer-link:hover,
.media-link.footer-link:focus {
  border-color: var(--success);
  background-color: var(--success);
}

.media-link.footer-link.icon {
  width: 24px;
  height: 24px;
}

.active-page .link {
  position: relative;
  color: var(--primary-brand);
}

.active-page .link:hover {
  color: var(--primary-brand);
}

.active-page .link::after {
  /* активна сторінка */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--primary-brand);
}

.active-page .link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  top: 0;
  left: 0;
  width: 100%;

  background: linear-gradient(
    /* це та clip-path дає тінь */ to top,
    rgba(72, 90, 229, 0.3) -50%,
    rgba(72, 90, 229, 0) 30%
  );
  clip-path: polygon(10% 100%, -10% 15px, 110% 15px, 90% 100%);
}
