:root {
  --primary-brand: #4d5ae5;
  --present-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --primary-bg-color: #ffffff;
  --portfolio-bg-color: #e5e5e5;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* basic styles */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--text);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  color: var(--dark);
}

h3 {
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark);
}
/* header */

header {
  position: relative;
  padding: 24px 0;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 426px;
  margin: 0 auto;
  padding: 0 15px;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.35;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}
.logo span {
  line-height: 1.17;
  color: var(--primary-brand);
}

/* hamburger */

.btn-menu,
.mobile-btn-menu-close {
  display: inline-flex;
  padding: 0;

  background-color: transparent;

  border: none;
  cursor: pointer;
}
.btn-menu-icon {
}

/* mobile-menu-container */

.mobile-menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 40px 40px;

  overflow-y: scroll;

  background-color: #ffffff;
}

.mobile-menu-container.menu-open {
  display: block;
}

.mobile-menu-container-content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 448px;
  height: 100%;
  margin: 0 auto;
}

/* .btn-menu.close */

.mobile-btn-menu-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.mobile-btn-menu-close .active {
  opacity: 0;
}

.mobile-btn-menu-close:active .active {
  opacity: 1;
}

.mobile-btn-menu-close:active .inactive {
  opacity: 0;
}

/* mobile-menu-container-content */

/* mobile--nav-menu */

.mobile-nav-menu {
  margin-bottom: auto;
}
.mobile-nav-menu-list {
}
.mobile-nav-menu-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-nav-menu-list-item .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  color: var(--dark);

  transition: color 250ms var(--timing-function);
}

.mobile-nav-menu-list-item .link:hover,
.mobile-nav-menu-list-item .link:focus {
  color: var(--present-state);
}

.mobile-nav-menu-list-item .link:focus {
  outline: var(--present-state);
}

/* mobile-contacts */

/* mobile-contacts-list */
.mobile-contacts-list {
  margin-top: 48px;
  margin-bottom: 48px;
}
.mobile-contacts-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-list-item .link {
  color: var(--text);

  transition: color 250ms var(--timing-function);
}

.mobile-contacts-list-item:first-child .link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
}

.mobile-contacts-list-item:last-child .link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.mobile-contacts-list-item .link:hover,
.mobile-contacts-list-item .link:focus {
  color: var(--primary-brand);
}

.mobile-contacts-list-item .link:focus {
  outline: var(--present-state);
}

/* contacts-media */

.contacts-media {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.contacts-media-item {
}
.contacts-media-item .link {
  display: inline-flex;
  padding: 8px;

  background-color: var(--primary-brand);

  transition: background-color 250ms var(--timing-function);

  border-radius: 50%;
}

.contacts-media-item .link:hover,
.contacts-media-item .link:focus {
  background-color: var(--present-state);
}

.contacts-media-item .link:focus {
  outline: var(--present-state);
}

.contacts-media-item-icon {
  width: 24px;
  height: 24px;
}

/* main */

/* hero */

.hero {
  width: 100%;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;

  text-align: center;

  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero/people-office-mob-428.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero/people-office-mob-856.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero/people-office-mob-856.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero-title {
  max-width: 328px;
  margin: 0 auto 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  /* or 111% */

  color: #ffffff;
  text-transform: capitalize;
}

.hero-btn {
  display: inline-flex;
  padding: 16px 32px;

  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: var(--primary-brand);

  transition: background-color 250ms var(--timing-function);
  border: var(--primary-brand);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: var(--present-state);
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  background: rgba(46, 47, 66, 0.4);
}

/* is-hidden */

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity 250ms var(--timing-function);

  pointer-events: none;
}

/* modal */

.modal {
  position: relative;
  top: 96px;
  left: 50%;
  padding: 72px 24px 24px;
  max-width: 392px;
  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 18px;
  padding-right: 18px;

  transform: translateX(-50%) scale(1);
  transition: transform 250ms var(--timing-function);

  background-color: #ffffff;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(0.9);
}

/*  modal-close */
.modal-close {
  display: inline-flex;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
}

/* modal-close-icon */

.modal-close-icon {
  width: 24px;
  height: 24px;
}

/* modal-close-icon-active */

.modal-close-icon-active {
  opacity: 0;
}

.modal-close:active .modal-close-icon-active {
  opacity: 1;
}

.modal-close:active .modal-close-icon-inactive {
  opacity: 0;
}

/* modal-title */

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  text-align: center;

  color: var(--dark);
}

/* modal-form */

/* modal-form-label */

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;

  color: #8e8f99;

  letter-spacing: 0.01em;
}

.modal-form-label:not(:last-child) {
  margin-bottom: 8px;
}

/* modal-form-label:focus-within */

.modal-form-label:focus-within {
  color: var(--primary-brand);
  fill: var(--primary-brand);
}

/* modal-form-label-container */

.modal-form-label-container {
  position: relative;
  margin-top: 4px;
}

/* modal-form-label-container-input */

.modal-form-label-container-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-label-container-input:focus {
  outline: none;

  border: 1px solid var(--primary-brand);
}

.modal-form-label-container-input:not(:placeholder-shown)
  + .modal-form-label-container-icon {
  opacity: 0;
}

/* modal-form-label-container-icon */

.modal-form-label-container-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;

  transform: translateY(-50%);
}

/* modal-form-label-comment */

.modal-form-label-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-top: 8px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
}

.modal-form-label:focus-within .modal-form-label-comment {
  outline: none;

  border: 1px solid var(--primary-brand);
}

/* modal-form-policy */

.modal-form-policy {
  display: block;
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
  padding-left: 24px;

  font-size: 12px;
  letter-spacing: 0.04em;

  color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-policy-inagree {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;

  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}

.modal-form-policy-agree {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;

  opacity: 0;
}

.modal-form-policy-checkbox:checked + .modal-form-policy-agree {
  opacity: 1;
}

.modal-form-policy-checkbox:checked ~ .modal-form-policy-inagree {
  opacity: 0;
}

.modal-form-policy-link {
  color: var(--primary-brand);
}

/* modal-form-btn */

.modal-form-btn {
  display: block;
  width: 169px;
  margin: 0 auto;
  padding: 16px 32px;

  font-weight: 500;
  line-height: 1.5;

  color: #ffffff;

  background-color: var(--primary-brand);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-btn:hover,
.modal-form-btn:focus,
.modal-form-btn:active {
  background-color: var(--present-state);
}

.modal-form-btn:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* about */

.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 1199px) {
  .about {
    font-weight: 500;
  }
}

/* about-list */

/* about-list-item */

@media screen and (max-width: 767px) {
  .about-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 1199px) {
  .about-list-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
  }
}

/* about-list-item-icon */

.about-list-item-icon {
  display: none;
  margin-bottom: 8px;
  padding: 24px 100px;

  background: #f4f4fd;
  border-radius: 4px;
}

/* about-list-item-title */

.about-list-item-title {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .about-list-item-title {
    text-align: center;
  }
}

/* projects */

.projects {
  display: none;
  padding-bottom: 120px;
}

.projects-title {
  margin-bottom: 72px;

  text-align: center;
}

/* projects-list */

.projects-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.projects-list-item {
  width: calc((100% - 24px * 2) / 3);
}
.projects-list-img {
  display: block;
  width: 100%;
}

/* team */

.team {
  padding-top: 96px;
  padding-bottom: 128px;

  background-color: var(--light);
}

.team-title {
  margin-bottom: 72px;

  text-align: center;
}
.team-list {
  margin: 0 auto;
}

/* team-list-item */

.team-list-item {
  max-width: 264px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* team-list-item-img */

.team-list-item-img {
  display: block;
  width: 100%;
  height: auto;
}

/* team-list-item-content */

.team-list-item-content {
  padding: 32px 16px;

  text-align: center;
}

.team-list-item-content-title {
  margin-bottom: 8px;
}

/* team-list-media */

.team-list-item-content-media {
  display: flex;
  justify-content: center; /* ще можна поставити space-between та прибрати gap */
  gap: 24px;
  margin-top: 8px;
}
.team-list-item-content-media-item {
}

/* team-list-item-content-media-item-link */

.team-list-item-content-media-item-link {
  display: inline-flex;
  padding: 12px;

  background-color: var(--primary-brand);
  transition: background-color 250ms var(--timing-function);

  border-radius: 50%;
  border: var(--primary-brand);
}

.team-list-item-content-media-item-link:hover,
.team-list-item-content-media-item-link:focus,
.team-list-item-content-media-item-link:active {
  background-color: var(--present-state);
}

.team-list-item-content-media-item-link:focus {
  outline: var(--present-state);
}

.team-list-item-content-media-item-link-icon {
  width: 16px;
  height: 16px;
}

/* customers */

.customers {
  padding: 96px 0;
}

/* customers-container */

/* customers-title */

.customers-title {
  margin-bottom: 72px;

  text-align: center;
}

/* customers-list */

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

/* customers-list-item */

.customers-list-item {
}

/* customers-list-item-link */

.customers-list-item-link {
  display: inline-flex;
  padding: 16px 40px;

  fill: var(--subtle-text);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;

  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.customers-list-item-link:hover,
.customers-list-item-link:focus,
.customers-list-item-link:active {
  fill: var(--present-state);
  border: 1px solid var(--present-state);
}

.customers-list-item-link:focus {
  outline: var(--present-state);
}

/* customers-list-item-link-icon */

.customers-list-item-link-icon {
  width: 108px;
  height: 54px;
}

/* footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  color: #ffffff;
  background-color: var(--dark);
}

/* footer-logo-box + tablet-footer-logo-box */

.footer-logo-box {
  max-width: 268px;
}

@media screen and (max-width: 767px) {
  .footer-logo-box {
    margin: 0 auto 72px;
  }
}

.footer-logo-box .logo {
  display: block;
  margin-bottom: 16px;

  color: #ffffff;
  text-align: center;
}

/* footer-social-media + tablet-footer-social-media*/

@media screen and (max-width: 767px) {
  .footer-social-media {
    margin: 0 auto 72px;
  }
}

/* footer-social-media-title  */

.footer-social-media-title {
  margin-bottom: 16px;

  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .footer-social-media-title {
    text-align: center;
  }
}
/* footer-social-media-list */

.footer-social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-media-list-item {
}
.footer-social-media-list-item-link {
  display: inline-flex;
  padding: 8px;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);
  border-radius: 50%;
}

.footer-social-media-list-item-link:hover,
.footer-social-media-list-item-link:focus,
.footer-social-media-list-item-link:active {
  background-color: var(--success);
}

.footer-social-media-list-item-link-icon {
  width: 24px;
  height: 24px;
}

/* subscribe */

@media screen and (max-width: 767px) {
  .subscribe {
    text-align: center;
  }
}

/* subscribe-title */

.subscribe-title {
  margin-bottom: 16px;
}

/* subscribe-form-text */

.subscribe-form-text {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 0 8px 16px;

  color: #ffffff;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

/* subscribe-form-btn */

.subscribe-form-btn {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: var(--primary-brand);

  transition: background-color 250ms var(--timing-function);
  border: var(--primary-brand);
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus,
.subscribe-form-btn:active {
  background-color: var(--present-state);
}

/* subscribe-form-btn-icon */

.subscribe-form-btn-icon {
  width: 24px;
  height: 24px;
}

/* portfolio */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* portfolio-categories */

.portfolio-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 48px;
}

.portfolio-categories-item {
}

/* portfolio-categories-item-btn */

.portfolio-categories-item-btn {
  padding: 12px 24px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-brand);
  background-color: #e7e9fc;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-categories-item-btn.active {
  color: #ffffff;
  background-color: var(--primary-brand);
}

.portfolio-categories-item-btn:hover,
.portfolio-categories-item-btn:focus {
  color: #ffffff;
  background-color: var(--primary-brand);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-categories-item-btn:active,
.portfolio-categories-item-btn.active :active {
  background-color: var(--present-state);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio-projects */

.portfolio-projects {
}

/* portfolio-projects-item */

@media screen and (max-width: 767px) {
  .portfolio-projects-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

.portfolio-projects-item-link {
  display: block;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-projects-item-link:hover,
.portfolio-projects-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-projects-item-link-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-projects-item-link-thumb-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-projects-item-link-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px 0 32px;

  color: #ffffff;
  background-color: var(--primary-brand);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio-projects-item-link:hover .portfolio-projects-item-link-thumb-overlay,
.portfolio-projects-item-link:focus
  .portfolio-projects-item-link-thumb-overlay {
  transform: translateY(0);
}

.portfolio-projects-item-link-text {
  padding: 32px 0 32px 16px;

  background-color: #ffffff;
}

.portfolio-projects-item-link-text-title {
  margin-bottom: 8px;

  font-weight: 500;
}

.portfolio-projects-item-link-text-title + p {
  color: #434455;
}

/* media tablet*/

/* tablet-nav-menu */

.nav-menu {
  display: none;
}

/* tablet-contacts-list */

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  /* tablet-container */

  .container {
    max-width: 766px;
  }

  /* tablet-header */
  header {
    padding: 0;
  }

  /* tablet-header-container */

  header > .container {
    display: flex;
    justify-content: center;
  }

  /* tablet-btn-menu */

  .btn-menu {
    display: none;
  }

  /* tablet-contacts-list */
  /* tablet-nav-menu */

  .nav-menu {
    display: block;
    margin-left: 126px;
    margin-right: 118px;
  }

  /* tablet-nav-menu-list */

  .nav-menu-list {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  /* tablet-nav-menu-list-link */

  .nav-menu-list-item .link {
    display: block;
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    color: #2e2f42;
    letter-spacing: 0.02em;
  }

  .nav-menu-list-item .link:hover,
  .nav-menu-list-item .link:focus,
  .nav-menu-list-item .link:active {
    color: var(--present-state);
  }

  /* tablet-nav-menu-list-item.active .link */

  .nav-menu-list-item.active .link {
    position: relative;

    color: var(--present-state);
  }

  .nav-menu-list-item.active .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: var(--present-state);

    border-radius: 2px;
  }

  /* tablet-contacts-list */

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  /* tablet-contacts-list-item */

  .contacts-list-item {
    display: inline-flex;
  }

  /* tablet-contacts-list .link*/

  .contacts-list-item .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.35;
    letter-spacing: 0.04em;

    color: var(--text);

    transition: color 250ms var(--timing-function);
  }

  .contacts-list-item .link:hover,
  .contacts-list-item .link:focus,
  .contacts-list-item .link:active {
    color: var(--present-state);
  }

  /* tablet-main */

  /* tablet-hero */

  .hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero/people-office-tablet-768.jpg");
    padding-bottom: 108px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/people-office-tablet-1536.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/people-office-tablet-2304.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  /* tablet-hero-title */

  .hero-title {
    max-width: 494px;
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }

  /* tablet-modal */

  .modal {
    max-width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }

  /* tablet-about */

  /* tablet-about-list */

  .about-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  /* tablet-about-list-item */

  .about-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* tablet-team-container */

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .team > .container {
      max-width: 582px;
    }
  }

  /* tablet-team-list */

  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-list {
      max-width: 582px;
    }
  }

  /* tablet-team-list-item */
  .team-list-item {
    margin: 0;
  }

  /* tablet-customers-container */

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .customers > .container {
      max-width: 582px;
    }
  }

  /* tablet-customers-list */
  .customers-list {
    column-gap: 24px;
  }

  /* tablet-customers-list-item */

  /* tablet-customers-list-item-link */
  .customers-list-item-link {
    padding: 16px 32px;
  } /* заважає border */

  /* tablet-customers-list-item-link-icon */

  .customers-list-item-link-icon {
    width: 102px;
  }
  /* tablet-footer-container */

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer > .container {
      max-width: 552px;

      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
    }
  }
  /* tablet-footer-logo-box */

  .footer-logo-box {
  }

  .footer-logo-box .logo {
    text-align: start;
  }

  /* tablet-footer-social-media */

  /* tablet-subscribe */
  .subscribe {
    width: 453px;
  }

  /* tablet-subscribe-form */

  .subscribe-form {
    display: flex;
    align-items: baseline;
    gap: 24px;
  }

  /* tablet-portfolio */

  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  /* tablet-portfolio-categories */
  .portfolio-categories {
    justify-content: center;
    margin-bottom: 64px;
  }

  /* tablet-portfolio-projects */

  .portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  /* tablet-portfolio-projects-item */

  .portfolio-projects-item {
    width: calc((100% - 24px) / 2);
  }
}

/* media desktop*/

@media screen and (min-width: 1200px) {
  /* desktop-container */
  .container {
    max-width: 1158px;
  }

  /* desktop-header */

  /* desktop-nav-menu */
  .nav-menu {
    margin-left: 76px;
    margin-right: 332px;
  }

  /* desktop-contacts-list */
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-list-item .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* desktop-hero */

  .hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero/people-office-desktop-1440.jpg");
    background-position: center;
    background-size: 1440px;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/people-office-desktop-2880.jpg");
      background-position: center;
      background-size: 1440px;
      background-repeat: no-repeat;
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/people-office-desktop-4320.jpg");
      background-position: center;
      background-size: 1440px;
      background-repeat: no-repeat;
    }
  }

  /* desktop-hero-title */

  .hero-title {
    margin-bottom: 48px;
  }

  /* desktop-modal */

  .modal {
    top: 80px;
  }

  /*  desktop-about*/

  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /*  desktop-about-list*/

  .about-list {
    row-gap: 0;
  }

  /*  desktop-about-list-item*/

  .about-list-item {
    width: calc((100% - (24px * 3)) / 4);
  }

  /* desktop-about-list-item-icon */

  .about-list-item-icon {
    display: block;
  }

  /* desktop-about-list-item-title*/

  .about-list-item-title {
    font-weight: 500;
  }

  /* desktop-projects */
  .projects {
    display: block;
  }

  /* desktop-team */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* desktop-team-list */

  .team-list {
    row-gap: 0;
  }

  /* desktop-customers */

  .customers {
    padding: 120px 0;
  }

  /* desktop-customers-container */

  /* desktop-customers-list */
  .customers-list {
    width: 100%;
    row-gap: 0;
  }

  /* desktop-customers-list-item */

  .customers-list-item {
  }

  /* desktop-customers-list-item-link */

  /* desctop-footer-container */

  .footer > .container {
    display: flex;
  }

  /* desctop-footer-social-media */

  .footer-social-media {
    margin-left: 120px;
    margin-right: 80px;
  }

  /* desctop-portfolio */

  /* desctop-portfolio-categories */

  .portfolio-categories {
    margin-bottom: 72px;
  }

  /* desctop-portfolio */

  /* desctop-portfolio-projects */

  .portfolio-projects {
    row-gap: 48px;
  }

  /* desctop-portfolio-projects-item */

  .portfolio-projects-item {
    width: calc((100% - 24px * 2) / 3);
  }
}
